USE [master]
GO
/****** Object:  Database [Student]    Script Date: 11/20/2023 10:40:12 PM ******/
CREATE DATABASE [Student]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Student', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Student.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Student_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Student_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Student].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Student]
GO
/****** Object:  Table [dbo].[StudentList]    Script Date: 11/20/2023 10:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 11/20/2023 10:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CodeName] [nchar](10) NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentList] ON 

INSERT [dbo].[StudentList] ([Id], [Name], [Surname], [PhoneNumber], [Address]) VALUES (1, N'Петров', N'Николай', N'89308328182', N'Владимир')
INSERT [dbo].[StudentList] ([Id], [Name], [Surname], [PhoneNumber], [Address]) VALUES (2, N'Ливонов', N'Андрей', N'89642222222', N'Москва')
SET IDENTITY_INSERT [dbo].[StudentList] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Name], [CodeName]) VALUES (1, N'Математика', N'МАТ       ')
INSERT [dbo].[Subjects] ([Id], [Name], [CodeName]) VALUES (2, N'Русский язык', N'РУС       ')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
/****** Object:  StoredProcedure [dbo].[GetStudentById]    Script Date: 11/20/2023 10:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentById]
(@stId int = 1)
AS
select * from StudentList where Id = @stId
GO
/****** Object:  StoredProcedure [dbo].[GetStudentByName]    Script Date: 11/20/2023 10:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentByName]
(@stName VARCHAR(40) = Артем)
AS
select * from StudentList where Surname = @stName
GO
/****** Object:  StoredProcedure [dbo].[GetSubjectByName]    Script Date: 11/20/2023 10:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSubjectByName]
(@sbjName VARCHAR(40) = Математика)
AS
select * from Subjects where Name = @sbjName
GO
USE [master]
GO
